<div class="welcome-content center-align">
   <h3 class="welcome-text">Welcome!</h3> 
  <main class="welcome-staff">
    <div class="container">  
      <header class="welcome-header">
        <%= image_tag("beastmode.jpeg", :class => "staff-image") %>
      </header>
      
      <h6 class="welcome-text">FOR THOSE WHO THINK FITNESS IS THE ULTIMATE PURSUIT
      WE'RE YOUR KIND OF FITNESS CENTER. IF YOU'RE WILLING TO PUT THE TIME AND EFFORT INTO MAXIMIZING YOUR FITNESS RESULTS, WE'RE WILLING TO GIVE YOU THE TOOLS TO ACHIEVE YOUR GOALS.  WE OFFER EXPERTS IN FITNESS, HEALTH, AND DIET, AND THE RIGHT EQUIPMENT (FREE WEIGHTS, MACHINES, EVERYTHING IN BETWEEN) AND THE RIGHT FACILITY (COMFORTABLE, CLEAN, HARD-CORE, WELL-LIT) TO PARTNER WITH YOU.
      </h6>
    </div>
    </main> 


<div class="staff-content center-align">
  <div class="row"> 
    <h3>Meet the staff</h3>
    <div class="col s4">
      <%= image_tag("cory-staff.jpeg", :class => "main-staff") %>
      <h5>Cory G.</h5> 
      <h5>Owner/Trainer</h5>
    </div> 
    <div class="col s4">
      <%= image_tag("matt-staff.jpeg", :class => "main-staff") %>
      <h5>Patrick S.</h5> 
      <h5>Webmaster/Client</h5>
    </div>
    <div class="col s4">
      <%= image_tag("patrick-staff.jpeg", :class => "main-staff") %>
      <h5>Matt C.</h5> 
      <h5>Owner XCELL Fitness</h5>
    </div>
  </div>
  </div>






<!-- footer content -->
<footer class="page-footer grey darken-4">
  <div class="container center-align">
    <div class="row">
      
      <h5 class="white-text">Bodybuilding | Fitness</h5>
      <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      
      <!-- social media links -->
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
      </ul>

    </div>
  </div>
  <div class="footer-copyright center-align">
    <div class="container">
      CG REVOLUTION | XCELL FITNESS © 2013 | ALL RIGHTS RESERVED 
    </div>
  </div>
</footer>
<!-- end of footer content -->