<!-- programs banner -->
<div class="parallax-container"> 
  <div class="parallax"><%= image_tag("dumbbells.jpg", :class => "programs") %></div>
</div>

<div class="program-content"> 
  <h3 class="center-align">Fitness Plans</h3> 
  <div class="row"> 
    <div class="col s4"> 
      <a id="tone_conditioning" href="tone.html"> 
      <%= image_tag("tone.jpg", :class => "toning") %></a> 
    </div> 
    <div class="col s4"> 
      <a id="weightloss" href="weightloss.html"> 
      <%= image_tag("weightloss.jpg", :class => "weightloss") %></a> 
    </div> 
    <div class="col s4"> 
      <a id="strength_conditioning" href="strength.html"> 
      <%= image_tag("cardio.png", :class => "strength") %></a> 
    </div> 
  </div> 
</div> 