<!-- main content -->
<main class="main-content center-align">
  <header class="center-aligin">
    <h3 class="layout-text">Successes</h3> 
  </header>
  <!-- div containing the slider -->
  <div class="container slide-container">
    <!-- success photo slider -->
    <div class="slider">
      <ul class="slides">
        <li>
          <%= image_tag("success1.jpg", :class => "slide-show success-image") %>
        </li>
        <li> 
          <%= image_tag("success2.jpg", :class => "slide-show success-image") %> 
        </li>
        <li>
          <%= image_tag("success3.jpg", :class => "slide-show success-image") %> 
        </li>
        <li>
          <%= image_tag("success4.jpg", :class => "slide-show success-image") %> 
        </li>
      </ul>
    </div>
    <!-- end of success photo slider -->
  </div>

</main>
<!-- end of main content -->


<!-- footer content -->
<footer class="page-footer grey darken-4">
  <div class="container center-align">
    <div class="row">
      
      <h5 class="white-text">Bodybuilding | Fitness</h5>
      <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      
      <!-- social media links -->
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
      </ul>

    </div>
  </div>
  <div class="footer-copyright center-align">
    <div class="container">
      CG REVOLUTION | XCELL FITNESS © 2013 | ALL RIGHTS RESERVED 
    </div>
  </div>
</footer>

<script> 
  $(document).ready(function() { 
    $('.parallax').parallax(); 
}); 
</script> 